body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-satoshi: Satoshi;
  --font-panchang: Panchang;
  --font-arial: Arial;
  --font-clash-display: "Clash Display";
  --font-roboto: Roboto;
  --font-tanker: Tanker;
  --font-dvb-ttganeshen: DVB-TTGaneshEN;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-16xl: 35px;
  --font-size-26xl: 45px;
  --font-size-11xl: 30px;
  --font-size-77xl: 96px;
  --font-size-17xl: 36px;
  --font-size-36xl: 55px;
  --font-size-15xl: 34px;
  --font-size-45xl: 64px;
  --font-size-61xl: 80px;
  --font-size-41xl: 60px;
  --font-size-3xl: 22px;
  --font-size-18xl: 37px;
  --font-size-68xl: 87px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-gainsboro-100: rgba(221, 221, 221, 0.7);
  --color-white: #fff;
  --color-black: #000;
  --color-darkgray: #9e9e9e;
  --color-mediumblue: #002dcb;
  --color-gray-100: rgba(255, 255, 255, 0.7);
  --color-midnightblue-100: #00155e;
  --color-limegreen-100: #45e455;
  --color-limegreen-200: #04b500;
  --color-crimson: #ff004d;

  /* Gaps */
  --gap-mid: 17px;
  --gap-11xs: 2px;

  /* Paddings */
  --padding-base: 16px;

  /* Border radiuses */
  --br-22xl: 41px;
  --br-173xl: 192px;
  --br-37xl: 56px;
  --br-81xl: 100px;
  --br-7xl: 26px;
  --br-238xl: 257px;
  --br-6xl: 25px;
  --br-2xl: 21px;
  --br-7xs: 6px;
}
