@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18);
    transform: translateX(0) translateY(0);
  }
  to {
    box-shadow: 1px -1px rgba(62, 62, 62, 0.18), 2px -2px rgba(62, 62, 62, 0.18),
      3px -3px rgba(62, 62, 62, 0.18), 4px -4px rgba(62, 62, 62, 0.18),
      5px -5px rgba(62, 62, 62, 0.18), 6px -6px rgba(62, 62, 62, 0.18),
      7px -7px rgba(62, 62, 62, 0.18), 8px -8px rgba(62, 62, 62, 0.18);
    transform: translateX(-8px) translateY(8px);
  }
}
.rectangle-icon,
.rectangle-icon1,
.rectangle-icon2 {
  position: absolute;
  top: 143px;
  left: 964px;
  width: 1440px;
  height: 1024px;
  object-fit: cover;
}
.rectangle-icon1,
.rectangle-icon2 {
  top: 393px;
  left: 1822px;
  border-radius: var(--br-173xl);
  width: 1083px;
  height: 774px;
}
.rectangle-icon2 {
  top: 143px;
  left: 964px;
  height: 954px;
}
.cleck-her {
  position: absolute;
  top: 1002px;
  left: 1579px;
  letter-spacing: 0.03em;
  line-height: 121%;
}
.rectangle-parent {
  position: absolute;
  top: -143px;
  left: -964px;
  filter: blur(303px);
  width: 3257px;
  height: 1490px;
  color: var(--color-white);
  font-family: var(--font-panchang);
}
.multiply-your-sales {
  line-height: 132.23%;
  font-weight: 600;
}
.span {
  line-height: 123.61%;
  font-family: var(--font-tanker);
}
.multiply-your-sales-by-10 {
  margin-block-start: 0;
  margin-block-end: 4px;
}
.hassle {
  font-size: 63px;
  text-decoration: underline;
  line-height: 112.87%;
  font-family: var(--font-dvb-ttganeshen);
}
.span2 {
  font-size: var(--font-size-41xl);
  line-height: 132.23%;
  font-weight: 600;
  font-family: var(--font-clash-display);
}
.without-any-hassle {
  margin: 0;
}
.multiply-your-sales-container {
  position: absolute;
  top: 198px;
  left: 53px;
  display: inline-block;
  width: 765px;
  font-size: var(--font-size-41xl);
  font-family: var(--font-clash-display);
}
.dropshipers-we-help {
  margin-block-start: 0;
  margin-block-end: 13px;
}
.dropshipers-we-help-container {
  position: absolute;
  top: 386px;
  left: 53px;
  font-size: 41px;
  line-height: 113.49%;
  font-family: var(--font-arial);
}
.lets-talk {
  position: relative;
  font-weight: 800;
}
.lets-talk-wrapper {
  position: absolute;
  top: 36px;
  left: 1261px;
  border-radius: 31px;
  background-color: #cfcfcf;
  box-shadow: 0 3px 10px -2px rgba(255, 255, 255, 0.25) inset,
    0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(55px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 13px;
  font-size: 16px;
}
.home1,
.services {
  font-size: var(--font-size-5xl);
}
.home1 {
  position: absolute;
  top: 43px;
  left: 507px;
}
.services {
  position: relative;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
}
.vector-icon {
  position: relative;
  width: 12px;
  height: 7px;
}
.services-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 43px;
  left: 618px;
  width: 106px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-11xs);
}
.about {
  position: relative;
}
.about-parent {
  position: absolute;
  top: 43px;
  left: 775px;
  width: 77px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-11xs);
  font-size: var(--font-size-5xl);
}
.desktop-1-child {
  position: absolute;
  top: 25px;
  left: 25px;
  border-radius: 50%;
  background-color: var(--color-black);
  width: 62.4px;
  height: 62.4px;
}
.xplozen {
  position: absolute;
  top: 40px;
  left: 94px;
  letter-spacing: 0.03em;
  line-height: 121%;
  display: inline-block;
  font-family: var(--font-panchang);
  width: 254px;
  height: 33px;
}
.layer-1-icon {
  position: absolute;
  top: 31px;
  left: 31px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.frame-child {
  position: relative;
  border-radius: 50%;
  background-color: var(--color-black);
  width: 42px;
  height: 42px;
  z-index: 0;
}
.menu-alt-icon {
  position: absolute;
  margin: 0 !important;
  top: 9px;
  left: 8px;
  width: 25px;
  height: 25px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.ellipse-parent {
  position: absolute;
  top: 35px;
  left: 1377px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.gradient-icon {
  position: absolute;
  top: 224px;
  left: 883px;
  border-radius: var(--br-6xl);
  width: 500px;
  height: 501px;
  object-fit: cover;
}
.f45b171df1ec9d010289775c889036-icon {
  position: relative;
  width: 407.1px;
  height: 260.1px;
  object-fit: cover;
}
.f45b171df1ec9d010289775c889036-wrapper {
  position: absolute;
  top: 293.7px;
  left: 834.8px;
  width: 595.9px;
  height: 360.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 23.067684173583984px 99.96005249023438px;
  box-sizing: border-box;
  background-image: url(./public/frame-9@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.screen1-1-icon {
  position: absolute;
  top: -80px;
  left: -72px;
  border-radius: var(--br-7xs);
  width: 426.8px;
  height: 304.7px;
  object-fit: cover;
}
.image-1-icon {
  top: -17.5px;
  left: 244.8px;
  border-radius: var(--br-7xs);
  width: 182.4px;
  height: 182.4px;
}
.image-1-icon,
.image-2-icon,
.image-4-icon {
  position: absolute;
  object-fit: cover;
}
.image-4-icon {
  top: 147px;
  left: 255.5px;
  border-radius: var(--br-7xs);
  width: 154.4px;
  height: 242.9px;
}
.image-2-icon {
  top: 159px;
  left: 314.6px;
  border-radius: 5px;
  width: 188.1px;
  height: 124.9px;
}
.image-3-icon,
.image-5-icon {
  position: absolute;
  top: 106px;
  left: 79px;
  border-radius: var(--br-7xs);
  width: 233.7px;
  height: 307.2px;
  object-fit: cover;
}
.image-5-icon {
  top: -46.4px;
  left: 267.7px;
  width: 349.3px;
  height: 386.2px;
}
.screen1-1-parent {
  position: absolute;
  top: 253.1px;
  left: 823px;
  width: 550.1px;
  height: 347.9px;
}
.screen1-1-parent:hover {
  animation: 2s ease s infinite normal none scale-up;
  opacity: 1;
}
.tiktok-logo-icon {
  position: absolute;
  top: 193px;
  left: 806px;
  width: 220px;
  height: 220px;
  object-fit: cover;
}
.desktop-1-inner:hover,
.desktop-1-item:hover,
.facebook-logo-icon:hover,
.image-removebg-preview-6-1:hover,
.image-removebg-preview-7-1:hover,
.tiktok-logo-icon:hover {
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.desktop-1-item {
  position: absolute;
  top: 285.7px;
  left: 711.8px;
  border-radius: var(--br-2xl);
  width: 342.3px;
  height: 396.9px;
}
.desktop-1-inner {
  position: absolute;
  top: 5.2px;
  left: 1257.7px;
  border-radius: 30px;
  width: 182.3px;
  height: 531.8px;
}
.facebook-logo-icon,
.image-removebg-preview-6-1 {
  position: absolute;
  top: 565.8px;
  left: 1280.6px;
  width: 159.4px;
  height: 308.2px;
  object-fit: cover;
}
.image-removebg-preview-6-1 {
  top: 312.3px;
  left: 1282px;
  width: 158px;
  height: 253.8px;
}
.dicons,
.image-removebg-preview-7-1 {
  position: absolute;
  top: 148px;
  left: 1247.4px;
  width: 192.6px;
  height: 193.1px;
  object-fit: cover;
}
.dicons {
  top: 891px;
  left: 194px;
  width: 277px;
  height: 224px;
}
.click-here {
  position: relative;
  font-size: var(--font-size-36xl);
  letter-spacing: 0.03em;
  line-height: 121%;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
}
.vector-icon2 {
  position: relative;
  width: 59.5px;
  height: 48px;
}
.click-here-parent {
  cursor: pointer;
  border: 6px solid var(--color-black);
  padding: 25px 105px;
  background-color: var(--color-limegreen-100);
  position: absolute;
  top: 803px;
  left: 445px;
  border-radius: var(--br-37xl);
  box-shadow: 17px 20px 51px 27px rgba(41, 158, 0, 0.25) inset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 13px;
}
.click-here-parent:hover {
  animation: 1s ease 0s infinite normal none shadow-pop-tr;
  opacity: 1;
}
.desktop-1 {
  position: relative;
  background-color: var(--color-white);
  width: 1440px;
  height: 1024px;
  overflow: hidden;
  flex-shrink: 0;
  font-family: var(--font-roboto);
}
.rectangle-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-173xl);
  width: 1440px;
  height: 1024px;
  object-fit: cover;
}
.how-we-work- {
  position: absolute;
  top: 41px;
  left: 385px;
  font-size: var(--font-size-77xl);
  letter-spacing: 0.06em;
  font-weight: 600;
  font-family: var(--font-clash-display);
  text-align: center;
}
.dicons1 {
  position: absolute;
  top: 92px;
  left: 3714px;
  width: 800px;
  height: 800px;
  object-fit: cover;
}
.how-it-works-section-child,
.how-it-works-section-inner,
.how-it-works-section-item {
  position: absolute;
  top: 792px;
  left: 70px;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-100);
  box-shadow: 0 12px 56px 11px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(73px);
  width: 482px;
  height: 394px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.how-it-works-section-inner,
.how-it-works-section-item {
  left: 543px;
  height: 386px;
}
.how-it-works-section-inner {
  left: 1010px;
  height: 377px;
}
.frame-item,
.how-it-works-section-child1 {
  position: absolute;
  top: 160.6px;
  left: 377.5px;
  width: 725.5px;
  height: 32.4px;
}
.frame-item {
  top: 5.2px;
  left: -3.5px;
  border-radius: 50%;
  background-color: var(--color-black);
  box-shadow: 5px 9px 9px -1px rgba(0, 0, 0, 0.25);
  border: 7px dashed var(--color-white);
  box-sizing: border-box;
  width: 102.2px;
  height: 102.2px;
}
.div,
.ellipse-group {
  position: absolute;
  height: 135px;
}
.div {
  top: 0;
  left: 35.9px;
  letter-spacing: 0.06em;
  display: inline-block;
  width: 29.1px;
}
.ellipse-group {
  top: 324px;
  left: 93.2px;
  width: 95.2px;
  font-size: var(--font-size-68xl);
  color: var(--color-white);
  font-family: var(--font-tanker);
}
.frame-inner {
  position: absolute;
  top: 6.5px;
  left: -3.5px;
  border-radius: 50%;
  background-color: var(--color-black);
  box-shadow: 5px 9px 9px -1px rgba(0, 0, 0, 0.25);
  border: 7px dashed var(--color-white);
  box-sizing: border-box;
  width: 105px;
  height: 105px;
}
.div1,
.ellipse-container {
  position: absolute;
  height: 139px;
}
.div1 {
  top: 0;
  left: 31px;
  letter-spacing: 0.06em;
  display: inline-block;
  width: 30px;
}
.ellipse-container {
  top: 320px;
  left: 569px;
  width: 98px;
  font-size: var(--font-size-68xl);
  color: var(--color-white);
  font-family: var(--font-tanker);
}
.ellipse-div {
  position: absolute;
  top: 8.5px;
  left: -3.5px;
  border-radius: 50%;
  background-color: var(--color-black);
  box-shadow: 5px 9px 9px -1px rgba(0, 0, 0, 0.25);
  border: 7px dashed var(--color-white);
  box-sizing: border-box;
  width: 105px;
  height: 105px;
}
.div2,
.frame-div {
  position: absolute;
  height: 139px;
}
.div2 {
  top: 0;
  left: 32px;
  letter-spacing: 0.06em;
  display: inline-block;
  width: 30px;
}
.frame-div {
  top: 318px;
  left: 1036px;
  width: 98px;
  font-size: 90px;
  color: var(--color-white);
  font-family: var(--font-tanker);
}
.how-it-works-section-child2,
.how-it-works-section-child3 {
  position: absolute;
  top: 547px;
  left: 464px;
  width: 79px;
  height: 8px;
}
.how-it-works-section-child3 {
  left: 929px;
  width: 81px;
}
.engaging-content-creation-container,
.increase-sales,
.wining-products {
  position: absolute;
  top: 346px;
  left: 215px;
  line-height: 93.99%;
  text-transform: capitalize;
}
.engaging-content-creation-container,
.wining-products {
  top: 349px;
  left: 1161px;
}
.engaging-content-creation-container {
  top: 346px;
  left: 694px;
  line-height: 91.99%;
}
.your-desired-results {
  margin: 0;
  text-decoration: underline;
}
.we-designees-strategy-container,
.we-understand-that-container,
.well-develo-organic-container {
  position: absolute;
  top: 457px;
  left: 106px;
  font-size: var(--font-size-3xl);
  line-height: 163.99%;
  text-transform: lowercase;
}
.we-designees-strategy-container,
.we-understand-that-container {
  left: 577px;
  text-transform: capitalize;
}
.we-understand-that-container {
  top: 454px;
  left: 1038px;
}
.group-icon {
  position: absolute;
  top: 658px;
  left: 351px;
  width: 161px;
  height: 161px;
}
.how-it-works-section-child4,
.how-it-works-section-child5 {
  position: absolute;
  top: 655px;
  left: 832px;
  width: 161px;
  height: 161px;
}
.how-it-works-section-child5 {
  top: 652px;
  left: 1274px;
}
.dicons2,
.dicons3,
.empty-cart-icon {
  position: absolute;
  top: 632px;
  left: 329px;
  width: 202px;
  height: 215px;
  object-fit: cover;
}
.dicons2,
.dicons3 {
  top: 661px;
  left: 839px;
  width: 151px;
  height: 151px;
}
.dicons3 {
  top: 645px;
  left: 1259px;
  width: 181px;
  height: 183px;
}
.frame-icon {
  position: relative;
  border-radius: 55px;
  width: 116px;
  height: 193px;
}
.how-it-works-section-inner1 {
  position: absolute;
  top: 825px;
  left: 671px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.how-it-works-section {
  position: relative;
  background-color: var(--color-white);
  width: 1440px;
  height: 1024px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-18xl);
  font-family: var(--font-arial);
}
.gradient-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-238xl);
  width: 1418.4px;
  height: 1274px;
  object-fit: cover;
}
.guaranteed-to-increase {
  position: absolute;
  top: 42px;
  left: 248px;
  font-size: var(--font-size-45xl);
  letter-spacing: 0.06em;
  color: var(--color-crimson);
  text-align: center;
}
.dropshipers-we-help1 {
  position: absolute;
  top: -705px;
  left: -3236px;
  font-size: var(--font-size-41xl);
  letter-spacing: 0.06em;
  font-family: var(--font-arial);
}
.i {
  font-weight: 700;
  color: var(--color-limegreen-200);
}
.i,
.in {
  font-family: var(--font-satoshi);
}
.in,
.span3 {
  color: var(--color-black);
}
.days {
  font-weight: 700;
}
.in-30-days {
  margin: 0;
  font-size: var(--font-size-45xl);
  color: var(--color-midnightblue-100);
}
.dropshiping-sales-by-container,
.or-your-money {
  position: absolute;
  top: 105px;
  left: 187px;
  letter-spacing: 0.06em;
  text-align: center;
  font-size: var(--font-size-61xl);
}
.or-your-money {
  top: 285px;
  left: 539px;
  font-size: var(--font-size-15xl);
}
.dicons4,
.dicons5 {
  position: absolute;
  top: 32px;
  left: 0;
  width: 522.7px;
  height: 849.7px;
  object-fit: cover;
}
.dicons5 {
  top: 817px;
  left: 1121px;
  width: 368px;
  height: 394px;
}
.cta-child {
  position: absolute;
  top: 361px;
  left: 178px;
  border-radius: var(--br-7xl);
  background-color: var(--color-gainsboro-100);
  backdrop-filter: blur(32px);
  width: 1089px;
  height: 757px;
}
.vector-icon3 {
  position: relative;
  width: 100.5px;
  height: 48px;
}
.contact-us-parent {
  cursor: pointer;
  border: 6px solid var(--color-black);
  padding: 0 var(--padding-base);
  background-color: var(--color-limegreen-100);
  position: absolute;
  top: 957px;
  left: 489px;
  border-radius: var(--br-37xl);
  box-shadow: 17px 20px 51px 27px rgba(41, 158, 0, 0.25) inset;
  box-sizing: border-box;
  width: 500px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-mid);
  opacity: 1;
}
.contact-us-parent.animate {
  animation: 1s ease 0s 1 normal forwards shadow-pop-tr;
}
.contact-us-parent:hover {
  animation: 1s ease 0s infinite normal none shadow-pop-tr;
  opacity: 1;
}
.cta-inner,
.cta-item,
.rectangle-input {
  border: 5px solid var(--color-darkgray);
  background-color: var(--color-white);
  position: absolute;
  top: 464px;
  left: 244px;
  border-radius: var(--br-22xl);
  box-sizing: border-box;
  width: 940px;
  height: 94px;
}
.cta-inner,
.rectangle-input {
  top: 644px;
}
.rectangle-input {
  top: 824px;
}
.e-mail-address,
.full-name,
.number {
  position: absolute;
  top: 405px;
  left: 266px;
  letter-spacing: 0.03em;
  line-height: 121%;
  font-weight: 500;
}
.e-mail-address,
.number {
  top: 593px;
}
.number {
  top: 768px;
}
.cta,
.cta1 {
  background-color: var(--color-white);
  width: 1440px;
  height: 1274px;
  overflow: hidden;
}
.cta1 {
  position: absolute;
  top: 0;
  left: 0;
}
.cta {
  position: relative;
  flex-shrink: 0;
  font-size: var(--font-size-17xl);
}
.rectangle-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-173xl);
  width: 1440px;
  height: 739px;
  object-fit: cover;
}
.who-are-we-child {
  position: absolute;
  top: 94px;
  left: 87px;
  border-radius: 11px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: -12px 20px 126px 22px rgba(0, 0, 0, 0.25);
  width: 1266px;
  height: 544px;
}
.we {
  font-weight: 700;
  color: #000939;
}
.who-are-we-container {
  position: absolute;
  top: 132px;
  left: 426px;
  letter-spacing: 0.03em;
  line-height: 121%;
}
.we-are-a {
  margin-block-start: 0;
  margin-block-end: 8px;
}
.full-potential {
  font-weight: 700;
}
.full-potential,
.span4 {
  font-family: var(--font-satoshi);
}
.we-are-a-container {
  position: absolute;
  top: 272px;
  left: 109px;
  font-size: var(--font-size-17xl);
  letter-spacing: 0.03em;
  line-height: 121%;
  text-align: center;
}
.who-are-we {
  position: relative;
  background-color: var(--color-white);
  width: 1440px;
  height: 739px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-77xl);
}
.dicons6,
.dicons7,
.rectangle-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.rectangle-icon5 {
  border-radius: var(--br-173xl);
  width: 1240px;
  height: 868px;
}
.dicons6,
.dicons7 {
  width: 800px;
  height: 800px;
}
.dicons7 {
  top: 381px;
  left: 974px;
  width: 546px;
  height: 546px;
}
.zoom-call-child {
  position: absolute;
  top: 102px;
  left: 119px;
  border-radius: 23px;
  background-color: rgba(255, 255, 255, 0.62);
  box-shadow: -8px 12px 29px 16px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(46px);
  width: 1201px;
  height: 675px;
}
.span5,
.zoom {
  font-family: var(--font-clash-display);
}
.span5 {
  font-weight: 600;
}
.zoom {
  color: var(--color-mediumblue);
}
.book-a-zoom-container {
  position: absolute;
  top: 133px;
  left: 203px;
  font-size: var(--font-size-77xl);
  letter-spacing: 0.03em;
  line-height: 121%;
}
.zoom-call-inner,
.zoom-call-item {
  border: 5px solid var(--color-darkgray);
  background-color: var(--color-white);
  position: absolute;
  top: 573px;
  left: 157px;
  border-radius: var(--br-22xl);
  box-sizing: border-box;
  width: 662px;
  height: 78px;
}
.zoom-call-inner {
  top: 431px;
  left: 148px;
}
.book {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 121%;
  font-weight: 500;
}
.book-wrapper,
.zoom-call-inner1 {
  display: flex;
  flex-direction: column;
}
.book-wrapper {
  border-radius: var(--br-22xl);
  background-color: var(--color-black);
  width: 176px;
  height: 78px;
  align-items: center;
  justify-content: center;
}
.zoom-call-inner1 {
  position: absolute;
  top: 667px;
  left: 631px;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  font-size: var(--font-size-26xl);
  color: var(--color-white);
}
.frame-input {
  border: 5px solid var(--color-darkgray);
  background-color: var(--color-white);
  position: absolute;
  top: 288px;
  left: 157px;
  border-radius: var(--br-22xl);
  box-sizing: border-box;
  width: 662px;
  height: 78px;
}
.email-address,
.phnumber {
  position: absolute;
  letter-spacing: 0.03em;
  line-height: 121%;
  font-weight: 500;
}
.email-address {
  top: 257px;
  left: 203px;
  display: inline-block;
  width: 184px;
  height: 34px;
}
.phnumber {
  top: 547px;
  left: 202px;
}
.rectangle-div {
  position: absolute;
  top: 277px;
  left: 914px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(221, 255, 253, 0.62),
    rgba(228, 255, 253, 0.43)
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25),
    7px 7px 17px 7px rgba(0, 0, 0, 0.25);
  width: 354px;
  height: 343px;
}
.layer-4-icon {
  position: absolute;
  height: 35.68%;
  width: 21.72%;
  top: 33.87%;
  right: 13.01%;
  bottom: 30.45%;
  left: 65.28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.pick-the-date {
  position: absolute;
  top: 402px;
  left: 203px;
  letter-spacing: 0.03em;
  line-height: 121%;
  font-weight: 500;
}
.zoom-call {
  position: relative;
  background-color: var(--color-white);
  width: 1440px;
  height: 868px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-5xl);
}
.about-us {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 121%;
}
.about-us-parent {
  position: absolute;
  top: 35px;
  left: 1039px;
  width: 286px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 29px;
  font-size: var(--font-size-11xl);
}
.footer-child {
  border: 5px solid var(--color-darkgray);
  background-color: var(--color-white);
  position: absolute;
  top: 166px;
  left: 63px;
  border-radius: var(--br-22xl);
  box-sizing: border-box;
  width: 954px;
  height: 80px;
  overflow: hidden;
}
.contact-us1 {
  position: relative;
  font-size: var(--font-size-26xl);
  letter-spacing: 0.03em;
  line-height: 121%;
  font-weight: 500;
  font-family: var(--font-satoshi);
  color: var(--color-white);
  text-align: left;
}
.contact-us-wrapper {
  cursor: pointer;
  border: 0;
  padding: 12px 31px;
  background-color: var(--color-black);
  position: absolute;
  top: 168px;
  left: 1039px;
  border-radius: var(--br-22xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-item {
  position: absolute;
  top: 296.5px;
  left: 61.5px;
  border-top: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 1279px;
  height: 3px;
}
.you-can-also {
  position: absolute;
  top: 322px;
  left: 424px;
  letter-spacing: 0.03em;
  line-height: 121%;
}
.footer-child1,
.footer-inner {
  position: absolute;
  top: 317px;
  left: 1078px;
  width: 252.5px;
  height: 53.2px;
}
.footer-child1 {
  top: 323.5px;
  left: 796.5px;
  width: 117.1px;
  height: 38.5px;
}
.frame-child1,
.xplozen1 {
  position: relative;
  width: 95px;
  height: 95px;
}
.xplozen1 {
  letter-spacing: 0.03em;
  line-height: 121%;
  display: inline-block;
  width: 329px;
  height: 50px;
  flex-shrink: 0;
}
.group-parent {
  position: absolute;
  top: 19px;
  left: 63px;
  width: 439px;
  height: 95px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  font-family: var(--font-panchang);
}
.email-address1 {
  position: absolute;
  top: 132px;
  left: 103px;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.03em;
  line-height: 121%;
  font-weight: 500;
  font-family: var(--font-satoshi);
  display: inline-block;
  width: 184px;
  height: 34px;
}
.footer,
.home {
  position: relative;
  overflow: hidden;
}
.footer {
  background-color: var(--color-white);
  width: 1440px;
  height: 395px;
  flex-shrink: 0;
  font-size: var(--font-size-16xl);
  font-family: var(--font-arial);
}
.home {
  background-color: #dedede;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-satoshi);
}
@media screen and (max-width: 1200px) {
  .click-here-parent:hover,
  .contact-us-parent:hover {
    background: linear-gradient(#fff, #fff), #45e455;
    animation: 1s ease 0s infinite normal none shadow-pop-tr;
    opacity: 1;
  }
  @keyframes shadow-pop-tr {
    0% {
      box-shadow: 0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
        0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
        0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
        0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18);
      transform: translateX(0) translateY(0);
    }
    to {
      box-shadow: 1px -1px rgba(62, 62, 62, 0.18),
        2px -2px rgba(62, 62, 62, 0.18), 3px -3px rgba(62, 62, 62, 0.18),
        4px -4px rgba(62, 62, 62, 0.18), 5px -5px rgba(62, 62, 62, 0.18),
        6px -6px rgba(62, 62, 62, 0.18), 7px -7px rgba(62, 62, 62, 0.18),
        8px -8px rgba(62, 62, 62, 0.18);
      transform: translateX(-8px) translateY(8px);
    }
  }
  .contact-us-parent {
    width: auto;
    align-self: unset;
    height: 120px;
    border-radius: var(--br-81xl);
  }
  @keyframes shadow-pop-tr {
    0% {
      box-shadow: 0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
        0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
        0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
        0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18);
      transform: translateX(0) translateY(0);
    }
    to {
      box-shadow: 1px -1px rgba(62, 62, 62, 0.18),
        2px -2px rgba(62, 62, 62, 0.18), 3px -3px rgba(62, 62, 62, 0.18),
        4px -4px rgba(62, 62, 62, 0.18), 5px -5px rgba(62, 62, 62, 0.18),
        6px -6px rgba(62, 62, 62, 0.18), 7px -7px rgba(62, 62, 62, 0.18),
        8px -8px rgba(62, 62, 62, 0.18);
      transform: translateX(-8px) translateY(8px);
    }
  }
  .contact-us-parent:active {
    animation: 1s ease 0s infinite normal none jello-horizontal;
    opacity: 1;
  }
  @keyframes jello-horizontal {
    0%,
    to {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
  }
}

@media screen and (min-width: 600px) {
{
  
}

